.checkout-container {
  min-height: 95vh;
  background:#BDC3C7;
  padding-top: 10px;
  padding-bottom: 30px;
  align-items: center;
}

.checkout-header {
  margin-top: 80px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #34495E;
  font-weight: 700;
}

.form-group input {
  font-size: 0.8rem;
}
