.header-container {
  background-color:#28aae2;
  width: 100%;
  display: block;
}

.main-title {
  font-size: 1.3rem;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
}

a, a:visited {
  color: black;
}

a.active {
  color: rgb(0, 87, 128);
}