
.header-container {
  background-color:#343A40;
  width: 100%;
  display: block;
  position: fixed;
  z-index: 4;
  height: 50px;
}

.nav-container {
  padding: 0;
  margin: 0 auto;
  width: 100%;
}

.nav-link {
  font-size: 0.9rem;
  font-weight: 700;
}
.navbar-brand {
  font-weight: 700;
}

@media (max-width: 768px) {
.nav-container {
      padding: 0;
  }
}

.header-sidebar {
  max-height: 50vh;
  overflow: scroll;
}