.footer-container {
  display: flex;
  bottom: 0;
  width: 100%;
  background-color: #343A40;
  height: 2.5rem;
}

footer {
  height: 100%;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.footer-signature {
  color: #ecf0f1;
  font-size: 1rem;
  margin-left: -30px;
}

.contact-data {
  color: #ecf0f1;
  font-size: 1rem;
}

.contact-icon {
  font-size: 25px;
  margin: 0 0 0 10px;
}