html {
	min-height: 100%
}

* {
	margin: 0;
	padding: 0;
	line-height: normal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #BDC3C7;
	font-family: 'Open Sans', sans-serif;
}

.container {
  position: relative;
}

.center-justify {
	justify-content: center;
}
.center-align {
	text-align: center;
}

.flex-display {
	display: flex;
}